<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpleclicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FourthMenuActivity"
            android:label="@string/activity_fourthmenu"/>
        <activity
            android:name=".ThirdMenuActivity"
            android:label="@string/activity_thirdmenu" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstMenuActivity"
            android:label="@string/activity_firstmenu" />
        <activity
            android:name=".SecondMenuActivity"
            android:label="@string/activity_secondmenu" />
    </application>

</manifest>